#row1 {
  height: 100vh;
}

.lead {
  font-size: 15px;
}

#pic1 {
  max-width: 100%;
  height: auto;
}

.yes {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

#me {
  float: left;
  max-width: 40%;
  height: auto;
  margin: 12px;
  border: 5px solid lightblue;
  background-color: orange;
}
